# Day {{.Day}}

[Challenge link](https://adventofcode.com/{{.Year}}/day/{{.Day}}).

How to run:

Put your data into 'data.txt' (in the same directory as this readme file).

```sh
go build -o app .
./app
```